[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Alicanto-Backend
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 4 --bind unix:/home/ubuntu/Alicanto-Backend/Alicanto/Alicanto.sock --timeout 1800 Alicanto.wsgi:application



       
[Install]
WantedBy=multi-user.target