{% extends "main.html" %}{% load humanize %}{% load static %}{% block header %}{% endblock header %}{% block content %}

<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="icon-card"><i class="bx bx-tachometer icon-alert"></i></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Km Flota</h5>
                            <p class="card-text">{{km_total}} Km</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--segunda tarjeta -->

        <div class="col-3">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="icon-card"><i class="bx bx-bus icon-alert"></i></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Total Flota</h5>
                            <p class="card-text">{{total_flota}} Buses</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--tercera tarjeta -->
        <div class="col-3">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="icon-card"><i class="bx bx-leaf icon-alert"></i></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">CO2 Evitado</h5>
                            <p class="card-text">{{co2_total}} Tons</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--cuarta tarjeta -->
        <div class="col-3">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="icon-card"><i class="bx bx-check-circle icon-alert"></i></div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Buses Operativos</h5>
                            <p class="card-text">{{operacion}} Buses</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fin perimera linea tarjetas-->

        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'disponibilidad-flota' %}">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="icon-card">
                                <i class="bx bx-x-circle icon-alert"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Buses FS</h5>
                                <p class="card-text">
                                    {{cant_fs}} Buses

                                    <i class="bx bx-chevron-right indicator"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'warnings' %}">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="icon-card">
                                <i class="bx bx-wifi-off icon-alert"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sin Conexion</h5>
                                <p class="card-text">
                                    {{no_update}} Buses
                                    <i class="bx bx-chevron-right indicator"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'warnings' %}">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="icon-card">
                                <i class="bx bxs-battery-low icon-alert"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">SOC Bajo</h5>
                                <p class="card-text">
                                    {{cant_low_50_soc}} Buses
                                    <i class="bx bx-chevron-right indicator"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'warnings' %}">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="icon-card">
                                <i class="bx bx-history icon-alert"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Subida Pendiente</h5>
                                <p class="card-text">
                                    {{delayed}} Buses
                                    <i class="bx bx-chevron-right indicator"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!--iniciotabla actualizaciones de buses -->

        <div class="col-8" style="margin-top: 50px">
            <div class="card">
                <h5 class="card-header">Actualizaciones Buses</h5>
                <div class="card-body">
                    <div class="col-12 text-center">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bus</th>
                                        <th>Carga</th>
                                        <th>Kilometraje</th>
                                        <th>24 Volts</th>
                                        <th>Fusi</th>
                                        <th>Actualizacion</th>
                                        <th>Cargando</th>
                                        <th>Perfil</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for i in bus %}
                                    <tr>
                                        <td class="busname">{{i.bus_name}}</td>
                                        <!--Inicio soc-->
                                        <td>
                                            {% if i.lts_soc > 60 %}
                                            <span class="badge text-bg-success">{{ i.lts_soc }} %</span>

                                            {% elif i.lts_soc <= 60 and i.lts_soc > 40 %}
                                            <span class="badge text-bg-warning">{{ i.lts_soc }} %</span>

                                            {% elif i.lts_soc <= 40 %}
                                            <span class="badge text-bg-danger">{{ i.lts_soc }} %</span>
                                            {% else %} {{ i.lts_soc }} {% endif %}
                                        </td>
                                        <!--Fin soc-->
                                        <!--Inicio odometro-->
                                        <td>
                                            <span class="texticon">{{ i.lts_odometer|intcomma }} Km.</span>
                                        </td>
                                        <!--Fin odometro-->
                                        <!--Inicio voltaje-->
                                        <td>
                                            {% if i.lts_24_volt >= 22 %}
                                            <div class="battok">
                                                <span>{{ i.lts_24_volt }}</span>
                                            </div>
                                            {% elif i.lts_24_volt >= 19 %}
                                            <div class="battmed">
                                                <span>{{ i.lts_24_volt }}</span>
                                            </div>
                                            {% else %}
                                            <div class="batlow">
                                                <span>{{ i.lts_24_volt }}</span>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <!--Fin voltaje-->
                                        <td>
                                            <div class="fusi">
                                                {% if i.lts_fusi == 0.0 %}
                                                <i class="bx bx-check-circle ok"></i>
                                                {% else %}
                                                <i class="bx bx-info-circle notok"></i>
                                                {{i.lts_fusi}} {% endif %}
                                            </div>
                                        </td>
                                        <!--Inicio timestamp-->
                                        <td>
                                            <div class="timestamp">{{i.lts_update|date:"d-m-Y H:m"}}</div>
                                        </td>
                                        <!--Fin timestamp-->
                                        <!--Inicio cargando-->
                                        <td>
                                            {% if i.charging == 1 %}
                                            <div class="charge-container">
                                                <div
                                                    style="width: 2.3rem; height: 2.3rem; color: yellowgreen"
                                                    class="spinner-border"
                                                    role="status"
                                                >
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <i class="bx bxs-battery-charging charging"></i>
                                            </div>

                                            {% endif %}
                                        </td>
                                        <!--Fin cargando-->
                                        <!--Inicio perfil-->
                                        <td>
                                            <a href="{% url 'bus_detail' i.id %}">
                                                <button type="button" class="btn btn-outline-primary button-pro">
                                                    <div class="container-button">
                                                        Perfil <i class="bx bx-right-arrow-circle profile"></i>
                                                    </div>
                                                </button>
                                            </a>
                                        </td>
                                        <!--Fin perfil-->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% if bus.has_other_pages %}
                        <nav class="navpag" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if bus.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{bus.previous_page_number}}">Anterior</a>
                                </li>
                                {% endif %} {% for page in paginator.page_range %} {% if page == bus.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                                {% endif %} {% endfor %} {% if bus.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{bus.next_page_number}}">Siguiente</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</div>
