{% extends "main.html" %}{% load humanize %}{% load static %}{% block header %}{% endblock header %}{% block content %}

<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />

<div style="height: 100vh" class="container">
    <div class="row">
        <div class="col-3">
            <div class="card1">
                <p class="card-description">Km Flota</p>
                <div class="dashboard-card" id="total-card">
                    <i class="bx bx-tachometer fondo"></i>
                    <div class="card-content">
                        <h4 class="card-header">{{km_total}} Km</h4>
                    </div>
                </div>
            </div>
        </div>
        <!--segunda tarjeta -->

        <div class="col-3">
            <div class="card1">
                <p class="card-description">Total flota</p>
                <div class="dashboard-card" id="total-card">
                    <i class="bx bx-bus fondo"></i>
                    <div class="card-content">
                        <h4 class="card-header">{{total_flota}} Buses</h4>
                    </div>
                </div>
            </div>
        </div>
        <!--tercera tarjeta -->
        <div class="col-3">
            <div class="card1">
                <p class="card-description">CO2 Evitado</p>
                <div class="dashboard-card" id="total-card">
                    <i class="bx bx-error fondo"></i>
                    <div class="card-content">
                        <h4 class="card-header">{{co2_total}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <!--cuarta tarjeta -->
        <div class="col-3">
            <div class="card1">
                <p style="margin-left: 50px" class="card-description">Buses en operacion</p>
                <div class="dashboard-card" id="total-card">
                    <i class="bx bx-check-circle fondo"></i>
                    <div class="card-content">
                        <h4 style="margin-left: 20px" class="card-header">{{operacion}} Buses</h4>
                    </div>
                </div>
            </div>
        </div>
        <!--fin perimera linea tarjetas-->

        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'disponibilidad-flota' %}">
                <div class="card1">
                    <p class="card-description">Buses FS</p>
                    <div class="dashboard-card" id="total-card">
                        <i class="bx bx-x-circle fondo"></i>
                        <div class="card-content">
                            <h4 class="card-header">{{ cant_fs }} Buses</h4>
                        </div>
                    </div>
                    <div class="indicator">
                        <i class="bx bx-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'warnings' %}">
                <div class="card1">
                    <p style="margin-left: 40px" class="card-description">Sin conexion</p>
                    <div class="dashboard-card" id="total-card">
                        <i class="bx bx-wifi-off fondo"></i>
                        <div class="card-content">
                            <h4 class="card-header">{{no_update}} Buses</h4>
                        </div>
                    </div>
                    <div class="indicator">
                        <i class="bx bx-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'warnings' %}">
                <div class="card1">
                    <p style="margin-left: 40px" class="card-description">Carga baja</p>
                    <div class="dashboard-card" id="total-card">
                        <i class="bx bxs-battery-low fondo"></i>
                        <div class="card-content">
                            <h4 class="card-header">{{cant_low_50_soc}} Buses</h4>
                        </div>
                    </div>
                    <div class="indicator">
                        <i class="bx bx-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3" style="margin-top: 20px">
            <a class="nav-link" href="{% url 'warnings' %}">
                <div class="card1">
                    <p style="margin-left: 40px" class="card-description">Subida Pendiente</p>
                    <div class="dashboard-card" id="total-card">
                        <i class="bx bx-history fondo"></i>
                        <div class="card-content">
                            <h4 class="card-header">{{delayed}} Buses</h4>
                        </div>
                    </div>
                    <div class="indicator">
                        <i class="bx bx-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>

        <!--iniciotabla actualizaciones de buses -->

        <div class="col-12" style="margin-top: 50px">
            <div class="card">
                <h5 class="card-header">Actualizaciones Buses</h5>
                <div class="card-body">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Bus</th>
                                    <th>Carga</th>
                                    <th>Kilometraje</th>
                                    <th>24 Volts</th>
                                    <th>Fusi</th>
                                    <th>Actualizacion</th>
                                    <th>Cargando</th>
                                    <th>Perfil</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for i in bus %}
                                <tr>
                                    <td class="busname">{{i.bus_name}}</td>
                                    <!--Inicio soc-->
                                    <td>
                                        {% if i.lts_soc > 60 %}
                                        <span class="badge text-bg-success">{{ i.lts_soc }} %</span>

                                        {% elif i.lts_soc <= 60 and i.lts_soc > 40 %}
                                        <span class="badge text-bg-warning">{{ i.lts_soc }} %</span>

                                        {% elif i.lts_soc <= 40 %}
                                        <span class="badge text-bg-danger">{{ i.lts_soc }} %</span>
                                        {% else %} {{ i.lts_soc }} {% endif %}
                                    </td>
                                    <!--Fin soc-->
                                    <!--Inicio odometro-->
                                    <td>
                                        <span class="texticon" style="display: inline-block; vertical-align: middle"
                                            >{{ i.lts_odometer|intcomma }} Km.</span
                                        >
                                    </td>
                                    <!--Fin odometro-->
                                    <!--Inicio voltaje-->
                                    <td>
                                        {% if i.lts_24_volt >= 22 %}
                                        <div class="battok">
                                            <span>{{ i.lts_24_volt }}</span>
                                        </div>
                                        {% elif i.lts_24_volt >= 19 %}
                                        <div class="battmed">
                                            <span>{{ i.lts_24_volt }}</span>
                                        </div>
                                        {% else %}
                                        <div class="batlow">
                                            <span>{{ i.lts_24_volt }}</span>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <!--Fin voltaje-->
                                    <td>
                                        <div class="fusi">
                                            {% if i.lts_fusi == 0.0 %}
                                            <i class="bx bx-check-circle ok"></i>
                                            {% else %}
                                            <i class="bx bx-info-circle notok"></i>
                                            {{i.lts_fusi}} {% endif %}
                                        </div>
                                    </td>
                                    <!--Inicio timestamp-->
                                    <td>
                                        <div class="timestamp">{{i.lts_update|date:"d-m-Y H:m"}}</div>
                                    </td>
                                    <!--Fin timestamp-->
                                    <!--Inicio cargando-->
                                    <td>
                                        {% if i.charging == 1 %}
                                        <i class="bx bxs-battery-charging charging"></i>
                                        {% endif %}
                                    </td>
                                    <!--Fin cargando-->
                                    <!--Inicio perfil-->
                                    <td>
                                        <a href="{% url 'bus_detail' i.id %}">
                                            <button type="button" class="btn btn-outline-info button-pro">
                                                <div class="container-button">
                                                    Perfil <i class="bx bx-right-arrow-circle profile"></i>
                                                </div>
                                            </button>
                                        </a>
                                    </td>
                                    <!--Fin perfil-->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% if bus.has_other_pages %}
                        <nav class="navpag" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if bus.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{bus.previous_page_number}}">Anterior</a>
                                </li>
                                {% endif %} {% for page in paginator.page_range %} {% if page == bus.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                                {% endif %} {% endfor %} {% if bus.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{bus.next_page_number}}">Siguiente</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</div>
