{% extends "main.html" %} {% load static %} {%block header%}Dashboard Flota.{%endblock header%} {%block content %}
<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />

<div class="container">
    <div>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kilometraje Flota</h5>
                        <i class="bx bx-tachometer"></i>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{km_total}} kms</h6>
                    </div>
                </div>
            </div>
            <!--segunda tarjeta -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'bus_list' %}">
                            <h5 class="card-title">Total Flota</h5>
                            <i class="bx bx-bus"></i>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{total_flota}} buses</h6>
                        </a>
                    </div>
                </div>
            </div>
            <!--tercera tarjeta -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'fusi_dashboard' %}">
                            <h5 class="card-title">Fusi activos</h5>
                            <i class="bx bx-error"></i>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{open_fusi}} Codigos</h6>
                        </a>
                    </div>
                </div>
            </div>
            <!--cuarta tarjeta -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Buses en Operacion</h5>
                        <i class="bx bx-check-circle"></i>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{operacion}}</h6>
                    </div>
                </div>
            </div>
            <!--fin perimera linea tarjetas-->

            <div class="col-3" style="margin-top: 20px">
                <a href="{% url 'warnings' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Fuera de servicio</h5>
                            <i class="bx bx-x-circle"></i>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ cant_fs }}</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3" style="margin-top: 20px">
                <a href="{% url 'warnings' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Buses sin conexion</h5>
                            <i class="bx bx-wifi-off"></i>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{no_update}}</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-3" style="margin-top: 20px">
                <a href="{% url 'warnings' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Buses Carga Baja</h5>
                            <i class="bx bxs-battery-low"></i>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{cant_low_50_soc}}</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3" style="margin-top: 20px">
                <a href="{% url 'warnings' %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Buses con cola de archivos</h5>
                            <i class="bx bx-history"></i>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{delayed}}</h6>
                        </div>
                    </div>
                </a>
            </div>

            <!--iniciotabla actualizaciones de buses -->

            <div class="col-12" style="margin-top: 20px">
                <div class="card">
                    <h5 class="card-header">Actualizaciones Buses</h5>
                    <div class="card-body">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bus</th>
                                        <th>Carga</th>
                                        <th>Odometro</th>
                                        <th>24 Volts</th>
                                        <th>Fusi</th>
                                        <th>Actualizacion</th>
                                        <th>Cargando</th>
                                        <th>Perfil</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for i in complete_table %}
                                    <tr>
                                        <td class="busname">{{i.bus_name}}</td>
                                        <!--Inicio soc-->
                                        <td>
                                            {% if i.lts_soc > 60 %}

                                            <span
                                                class="material-symbols-outlined icon"
                                                style="color: green; display: inline-block; vertical-align: middle"
                                                >battery_full</span
                                            >
                                            <span class="texticon" style="display: inline-block; vertical-align: middle"
                                                >{{ i.lts_soc }} %</span
                                            >

                                            {%elif i.lts_soc <= 60 and i.lts_soc > 40%}
                                            <span
                                                class="material-symbols-outlined icon"
                                                style="color: orange; display: inline-block; vertical-align: middle"
                                            >
                                                battery_3_bar
                                            </span>
                                            <span class="texticon" style="display: inline-block; vertical-align: middle"
                                                >{{ i.lts_soc }} %</span
                                            >
                                            {% elif i.lts_soc <= 40 %}
                                            <span
                                                class="material-symbols-outlined icon"
                                                style="color: red; display: inline-block; vertical-align: middle"
                                            >
                                                battery_1_bar
                                            </span>
                                            <span class="texticon" style="display: inline-block; vertical-align: middle"
                                                >{{ i.lts_soc }} %</span
                                            >
                                            {% else %} {{ i.lts_soc }} {% endif %}
                                        </td>
                                        <!--Fin soc-->
                                        <!--Inicio odometro-->
                                        <td>
                                            <span class="texticon" style="display: inline-block; vertical-align: middle"
                                                >{{ i.lts_odometer }} Km.</span
                                            >
                                        </td>
                                        <!--Fin odometro-->
                                        <!--Inicio voltaje-->
                                        <td>
                                            {% if i.lts_24_volt >= 22 %}
                                            <div class="battok">
                                                <i class="bx bxs-car-battery"></i>
                                                <span>{{ i.lts_24_volt }} V</span>
                                            </div>
                                            {% elif i.lts_24_volt >= 19 %}
                                            <div class="battmed">
                                                <i class="bx bxs-car-battery"></i>
                                                <span>{{ i.lts_24_volt }} V</span>
                                            </div>
                                            {% else %}
                                            <div class="batlow">
                                                <i class="bx bxs-car-battery"></i>
                                                <span>{{ i.lts_24_volt }} V</span>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <!--Fin voltaje-->
                                        <td>
                                            <div class="fusi">
                                                {% if i.lts_fusi == 0.0 %}
                                                <i class="bx bxs-check-circle ok"></i>
                                                {% else %}
                                                <i class="bx bxs-error-circle notok"></i>
                                                {{i.lts_fusi}} {% endif %}
                                            </div>
                                        </td>
                                        <!--Inicio timestamp-->
                                        <td>
                                            <div class="timestamp">{{i.lts_update}}</div>
                                        </td>
                                        <!--Fin timestamp-->
                                        <!--Inicio cargando-->
                                        <td>
                                            <i class="bx bxs-bolt-circle notcharging"></i>
                                            <i class="bx bxs-ev-station charging"></i>
                                            in process
                                        </td>
                                        <!--Fin cargando-->
                                        <!--Inicio perfil-->
                                        <td>
                                            <a href="{% url 'bus_detail' i.id %}">
                                                <span class="badge rounded-pill text-bg-danger"
                                                    ><i class="bx bx-bus"></i> Perfil</span
                                                >
                                            </a>
                                        </td>
                                        <!--Fin perfil-->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% if complete_table.has_other_pages %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if complete_table.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{complete_table.previous_page_number}}"
                                            >Anterior</a
                                        >
                                    </li>
                                    {% endif %} {% for page in paginator.page_range %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                    {% endfor %} {% if complete_table.has_next %}

                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ complete_table.next_page_number }}"
                                            >Siguiente</a
                                        >
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</div>
