{% extends "main.html" %} {% load static %} {% block header %}Dashboard Alertas{% endblock header %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/warnings.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easychart/dist/easychart.min.css" />
<div class="container">
    <!--inicio primera tarjeta-->
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Buses bajo 50% Bateria</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bus</th>
                                        <th>Carga</th>
                                        <th>Actualizacion</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for i in low_50_soc_count %}
                                    <tr>
                                        <td>{{ i.bus_name }}</td>
                                        <td>
                                            {% if i.lts_soc > 60 %}
                                            <span class="badge rounded-pill text-bg-success">{{ i.lts_soc }} %</span>
                                            {% elif i.lts_soc <= 60 and i.lts_soc > 40 %}
                                            <span class="badge rounded-pill text-bg-warning">{{ i.lts_soc }} %</span>
                                            {% elif i.lts_soc <= 40 %}
                                            <span class="badge rounded-pill text-bg-danger">{{ i.lts_soc }} %</span>
                                            {% else %} {{ i.lts_soc }} {% endif %}
                                        </td>
                                        <td>{{ i.lts_update }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--aqui segunda tabla-->
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Buses con pendientes de subida</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bus</th>
                                <th>actualizacion</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for i in delayed %}
                            <tr>
                                <td>{{i.bus_name}}</td>
                                <td>{{i.lts_update}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    <!--paginador va aqui-->
                    <nav class="navpag" aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if delayed.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page2={{delayed.previous_page_number}}">Anterior</a>
                            </li>
                            {% endif %} {% for page in paginator_delayed.page_range %}
                            <li class="page-item">
                                <a class="page-link" href="?page2={{page}}">{{page}}</a>
                            </li>
                            {% endfor %} {% if delayed.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page2={{delayed.next_page_number}}">Siguiente</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">10 Buses mayor fusi</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <th>Bus</th>
                                    <th>Cantidad Codigo Fusi</th>
                                </tr>
                                {% for i in top_buses %}
                                <tr>
                                    <td>{{i.bus__bus_name}}</td>
                                    <td>{{i.num_registros}} codigos</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 30px" class="col-12">
            <div class="card">
                <h5 class="card-header">Informe Fusi {{mes_actual}}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <table class="table">
                                <tr>
                                    <th>Codigo Fusi</th>
                                    <th>Repeticiones</th>
                                </tr>
                                {% for fusi in distinct_fusi_code %}
                                <tr>
                                    <td>{{fusi.fusi_code}}</td>
                                    <td>{{fusi.total}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% if distinct_fusi_code.has_other_pages %}
                            <nav style="margin-top: -60px" aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if distinct_fusi_code.has_previous %}
                                    <li class="page-item">
                                        <a
                                            class="page-link"
                                            href="?page_fusi={{distinct_fusi_code.previous_page_number}}"
                                            >Anterior</a
                                        >
                                    </li>
                                    {% endif %} {% for page in paginator_fusi.page_range %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page_fusi={{ page }}">{{ page }}</a>
                                    </li>
                                    {% endfor %} {% if distinct_fusi_code.has_next %}

                                    <li class="page-item">
                                        <a class="page-link" href="?page_fusi={{ distinct_fusi_code.next_page_number }}"
                                            >Siguiente</a
                                        >
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <canvas id="grafico"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!--inicio segunda tarjeta-->
            <div style="margin-top: 30px" class="row">
                <div class="col-6">
                    <div class="card">
                        <h5 class="card-header">Buses bajo 24 volts</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <th>Bus</th>
                                            <th>Voltaje</th>
                                            <th>actualizacion</th>
                                        </tr>
                                        {% for i in low_battery %}
                                        <tr>
                                            <td>{{i.bus_name}}</td>
                                            <td>
                                                {% if i.lts_24_volt < 20 %}
                                                <span class="badge text-bg-danger">{{i.lts_24_volt}} [v]</span>
                                                {% endif %}
                                            </td>
                                            <td>{{i.lts_update}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--aqui segunda tabla-->
                <div class="col-6">
                    <div class="card">
                        <h5 class="card-header">Buses sin conexion</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <th>Bus</th>
                                            <th>Sniffer</th>
                                        </tr>
                                        {% for i in no_update %}
                                        <tr>
                                            <td>{{i.bus_name}}</td>
                                            <td>{{i.sniffer}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <nav style="margin-top: -40px" aria-label="Page navigation example">
                                        <ul class="pagination">
                                            {% if no_update.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{no_update.previous_page_number}}"
                                                    >Anterior</a
                                                >
                                            </li>
                                            {% endif %} {% for page in paginator_no_update.page_range %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{page}}">{{page}}</a>
                                            </li>
                                            {% endfor %} {% if no_update.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{no_update.next_page_number}}"
                                                    >Siguiente</a
                                                >
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // Obtener los datos pasados desde Django
            var datos = {{ fusi_grafico | safe }};

            // Preparar los datos para Chart.js
            var labels = datos.map(item => item.fusi_code);
            var valores = datos.map(item => item.total);

            // Crear el gráfico con Chart.js
            var ctx = document.getElementById('grafico').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Cantidad de Códigos FUSI',
                        data: valores,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)', // Color de fondo de las barras
                        borderColor: 'rgba(54, 162, 235, 1)', // Color del borde de las barras
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
    {% endblock content %}
</div>
