{% extends "main.html" %} {% load static %} {% block content %}
<br />
<br />
<br />
<br />
<div class="container text-center" style="margin-left: 300px">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %} {% for field in form %}
        <div class="form__field">
            <label class="form-label">{{field.label}}</label>
            <div class="mb-3">{{field}}</div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>

<!-- lo que debemos hacer para solucionar este problema es usar el nombre del campo como name y de esta manera el formulario reconozca los campos  tarea para mañana-->

<!--<div class="container" style="max-width: 700px">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %} {% for field in form %} {% if field.label == 'Serie' %}
        <label class="form-label">{{field.label}}</label>
        <select class="form-select" aria-label="Default select example" style="margin-bottom: 20px">
            <option selected>Seleccione una serie</option>
            <option value="1">Queltehue</option>
            <option value="2">Tricahue</option>
            <option value="3">Retrofit</option>
        </select>
        {% else %}
        <div class="mb-3">
            <label class="form-label">{{field.label}}</label>
            <input type="text" class="form-control" />
        </div>
        {% endif %}{% endfor %}
        <div class="mb-3">
            <label class="form-label">{{form.label.bus_img}}</label>
            {{form.bus_img}}
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>-->

{% endblock %}
