{% extends "main.html" %} {% load static %} {% block content %}
<div class="container text-center" style="margin-left: 300px">
    <div>
        <div class="row">
            <h1>Dashboard Flota</h1>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kilometraje Flota</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{km_total}} kms</h6>
                    </div>
                </div>
            </div>
            <!--segunda tarjeta -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Flota</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            {{total_flota}} buses
                        </h6>
                    </div>
                </div>
            </div>
            <!--tercera tarjeta -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fusi activos</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            {{active_fusi2}} Codigos
                        </h6>
                    </div>
                </div>
            </div>
            <!--cuarta tarjeta -->
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Buses en Operacion</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">*En construccion</h6>
                    </div>
                </div>
            </div>
            <!--fin perimera linea tarjetas-->

            <div class="col-3" style="margin-top: 20px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fuera de servicio</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">*En construccion</h6>
                    </div>
                </div>
            </div>

            <div class="col-3" style="margin-top: 20px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fuera de servicio</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">*En construccion</h6>
                    </div>
                </div>
            </div>

            <div class="col-3" style="margin-top: 20px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fuera de servicio</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">*En construccion</h6>
                    </div>
                </div>
            </div>
            <div class="col-3" style="margin-top: 20px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fuera de servicio</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">*En construccion</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div style="display: flex; gap: 20px">
                    <div class="col-7" style="margin-top: 20px">
                        <h2>buses con menos de 65% de carga</h2>
                        <table class="table">
                            <tr>
                                <th>Bus</th>
                                <th>Carga</th>
                                <th>Serie</th>
                                <th>Odometro</th>
                                <th>voltaje</th>
                                <th>actualizacion</th>
                            </tr>
                            {% for i in complete_table %}
                            <tr>
                                <td>{{i.bus_name}}</td>
                                <td>
                                    {% if i.lts_soc > 60 %}
                                    <span class="badge rounded-pill text-bg-success"
                                        >{{ i.lts_soc }} %</span
                                    >
                                    {% elif i.lts_soc <= 60 and i.lts_soc > 40 %}
                                    <span class="badge rounded-pill text-bg-warning"
                                        >{{ i.lts_soc }} %</span
                                    >
                                    {% elif i.lts_soc <= 40 %}
                                    <span class="badge rounded-pill text-bg-danger"
                                        >{{ i.lts_soc }} %</span
                                    >
                                    {% else %} {{ i.lts_soc }} {% endif %}
                                </td>
                                <td>
                                    {% if i.bus_series == 'Queltehue' %}
                                    <button type="button" class="btn btn-outline-warning btn-sm">
                                        {{i.bus_series}}
                                    </button>
                                    {% elif i.bus_series == 'Tricahue' %}
                                    <button type="button" class="btn btn-outline-success btn-sm">
                                        {{i.bus_series}}
                                    </button>
                                    {% endif %}
                                </td>
                                <td>{{i.lts_odometer}}</td>
                                <td>{{i.lts_24_volt}}</td>
                                <td>{{i.lts_update}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-5" style="margin-top: 20px">
                        <h2>buses con menos de 65% de carga</h2>

                        <table class="table">
                            <tr>
                                <th>Bus</th>
                                <th>Carga</th>
                                <th>actualizacion</th>
                            </tr>
                            {% for i in low_50_soc_count %}
                            <tr>
                                <td>{{i.bus_name}}</td>
                                <td>
                                    {% if i.lts_soc > 60 %}
                                    <span class="badge rounded-pill text-bg-success"
                                        >{{ i.lts_soc }} %</span
                                    >
                                    {% elif i.lts_soc <= 60 and i.lts_soc > 40 %}
                                    <span class="badge rounded-pill text-bg-warning"
                                        >{{ i.lts_soc }} %</span
                                    >
                                    {% elif i.lts_soc <= 40 %}
                                    <span class="badge rounded-pill text-bg-danger"
                                        >{{ i.lts_soc }} %</span
                                    >
                                    {% else %} {{ i.lts_soc }} {% endif %}
                                </td>
                                <td>{{i.lts_update}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <h2>buses bajo voltaje 24</h2>
                        <table class="table">
                            <tr>
                                <th>Bus</th>
                                <th>Voltaje</th>
                                <th>actualizacion</th>
                            </tr>
                            {% for i in low_battery %}
                            <tr>
                                <td>{{i.bus_name}}</td>
                                <td>
                                    {% if i.lts_24_volt < 20 %}
                                    <span class="badge text-bg-danger">{{i.lts_24_volt}} [v]</span>
                                    {% endif %}
                                </td>
                                <td>{{i.lts_update}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Lista Buses Fuera de servicio</h2>

    <table>
        <tr>
            <th>Bus</th>
            <th>ultima actualizacion</th>
        </tr>
        <tr>
            <td>en proceso</td>
            <td>en proceso</td>
        </tr>
    </table>
    <br />
    <br />

    <h2>Codigos Fusi Activos</h2>

    <p><strong>*(editar estado codigos en proceso)</strong></p>

    <table>
        <tr>
            <th>Fecha</th>
            <th>Codigo</th>
            <th>Comentario</th>
            <th>Km Falla</th>
            <th>Bus</th>
            <th></th>
        </tr>
        {% for x in active_fusi %}
        <tr>
            <td>{{x.TimeStamp}}</td>
            <td>{{x.fusi_code}}</td>
            <td>{{x.fusi_comment}}</td>
            <td>{{x.failure_odometer}}</td>
            <td>{{x.bus.bus_name}}</td>
            <td><a href="{% url 'update-fusi-code' x.id  %}">Editar Codigo Fusi</a></td>
        </tr>
        {% endfor %}
    </table>

    <br />
    <br />

    <h2>Buses con cola de archivos</h2>
    *(En proceso)
    <!--area codigos fusi-->
</div>
{% endblock content %}
