{% extends "main.html" %} {% block content %}

<h1>Reportes Buses</h1>
<p>Presione el boton del reporte que quiere descargar</p>
<br />
<div style="display: flex; gap: 10px; cursor: pointer">
    <a href="{% url 'pdf-report' %}" class="btn btn-primary">Ultima actualizacion Buses PDF</a>
    <br />
    <br />
    <a href="{% url 'montly-km-report' %}" class="btn btn-primary">kilometraje mensual buses</a>
    <br />
    <br />
    <a href="{% url 'xls-report' %}" class="btn btn-primary">ultima actualizacion buses xls</a>
    <br />
    <br />
    <a href="{% url 'monthly-bus-report-xls' %}" class="btn btn-primary"
        >kilometraje mensual buses xls</a
    >
</div>

{% endblock %}
