{% extends "main.html" %} {% load static %} {% block content %}
<div class="container text-center" style="margin-left: 300px">
    <div class="row">
        <h1>Dashboard Alertas</h1>
        <h2>Buses con cola de archivos</h2>
        <div class="col-4" style="margin-top: 20px">
            <table class="table">
                <tr>
                    <th>Bus</th>
                    <th>actualizacion</th>
                </tr>
                {% for i in delayed %}
                <tr>
                    <td>{{i.bus_name}}</td>
                    <td>{{i.lts_update}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-4" style="margin-top: 20px">
            <h2>buses con menos de 50% de carga</h2>

            <table class="table">
                <tr>
                    <th>Bus</th>
                    <th>Carga</th>
                    <th>actualizacion</th>
                </tr>
                {% for i in low_50_soc_count %}
                <tr>
                    <td>{{i.bus_name}}</td>
                    <td>
                        {% if i.lts_soc > 60 %}
                        <span class="badge rounded-pill text-bg-success">{{ i.lts_soc }} %</span>
                        {% elif i.lts_soc <= 60 and i.lts_soc > 40 %}
                        <span class="badge rounded-pill text-bg-warning">{{ i.lts_soc }} %</span>
                        {% elif i.lts_soc <= 40 %}
                        <span class="badge rounded-pill text-bg-danger">{{ i.lts_soc }} %</span>
                        {% else %} {{ i.lts_soc }} {% endif %}
                    </td>
                    <td>{{i.lts_update}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4" style="margin-top: 20px">
            <h2>buses sin conexion</h2>
            <table class="table">
                <tr>
                    <th>Bus</th>
                    <th>Sniffer</th>
                </tr>
                {% for i in no_update %}
                <tr>
                    <td>{{i.bus_name}}</td>
                    <td>{{i.sniffer}}</td>
                </tr>
                {% endfor %}
        </div>
    </div>

    {% endblock content %}
</div>
