{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href='{% static "styles/side-bar.css" %}' />
<script src="https://kit.fontawesome.com/0632ec8479.js" crossorigin="anonymous"></script>
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <div class="logocontainer">
            <div class="logo"><img src="{% static "img/REM.png" %}" alt="Alicanto"></div>
            <div class="logotext"></div>
        </div>
        <div class="menuitems">
            <div class="menuitem">
                <i class="fa-solid fa-house fa-lg" style="color: #ebebeb"></i>
                <a href="{% url 'dashboard' %}" style="color: #ebebeb">Dashboard</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-chart-simple fa-lg" style="color: #ebebeb"></i>
                <a href="{% url 'reports_page' %}" style="color: #ebebeb">Reportes</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-bus fa-lg" style="color: #ebebeb"></i>
                <a href="{% url 'bus_list' %}" style="color: #ebebeb">Flota</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-book fa-lg" style="color: #ebebeb"></i>
                <a href="{% url 'dic_fusi' %}" style="color: #ebebeb">Diccionario Fusi</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #ebebeb"></i>
                <a href="{% url 'work_order_form' %}" style="color: #ebebeb">Crear Parte</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-person-running fa-lg" style="color: #ebebeb"></i>
                <a href="{% url 'profile' %}" style="color: #ebebeb">Staff</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-right-from-bracket fa-lg" style="color: #d6d6d6"></i>
                <a href="{% url 'logout_user' %}" style="color: #ebebeb">Cerrar sesion</a>
            </div>
            <div class="menuitem"></div>
        </div>
    </div>
    <nav
        style="box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.22); position: fixed; width: 100%"
        class="navbar bg-body-tertiary"
    >
        <div class="container-fluid">
            <span class="navbar-brand"
                ><i class="fa-solid fa-user fa-lg"></i> <span>{{user.username}}</span></span
            >
        </div>
    </nav>
</div>
