{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/sidebar.css' %}" />
    </head>
    <body>
        <nav class="sidebar">
            <header>
                <div class="image-text">
                    <span class="image"
                        ><img class="logo" src="static/img/REM.png" alt="logo"
                    /></span>
                    <div class="text header-text">
                        <span class="name">Alicanto</span>
                        <span class="profession">Reborn Telemetria</span>
                    </div>
                </div>
                <span class="material-symbols-outlined click-button"> chevron_right </span>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href=""
                                ><span class="material-symbols-outlined"> home </span>
                                <span class="text nav-text">Dashboard</span></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
