{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'styles/sidebar.css' %}" />
    </head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image"
                        ><img src="{% static 'img/REM.png' %}" alt="logo-rem"
                    /></span>

                    <div class="text header-text">
                        <span class="name">Alicanto Reborn</span>
                        <span class="profession">Telemetria eBus</span>
                    </div>
                </div>
                <i class="bx bx-chevron-right toggle"></i>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <li class="search-box">
                        <i class="bx bx-search icon"></i>
                        <input type="search" placeholder="Search..." />
                    </li>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="{% url 'dashboard' %}">
                                <i class="bx bx-home-alt-2 icon"></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'reports_page' %}">
                                <i class="bx bxs-report icon"></i>
                                <span class="text nav-text">Reportes</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'bus_list' %}">
                                <i class="bx bxs-bus icon"></i>
                                <span class="text nav-text">Flota</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'dic_fusi' %}">
                                <i class="bx bx-book icon"></i>
                                <span class="text nav-text">Diccionario Fusi</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'work_order_form' %}">
                                <i class="bx bx-edit icon"></i>
                                <span class="text nav-text">Crear Parte</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'profile' %}">
                                <i class="bx bxs-user-account icon"></i>
                                <span class="text nav-text">Staff</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-content">
                    <li class="">
                        <a href="{% url 'logout_user' %}">
                            <i class="bx bx-log-out-circle icon"></i>
                            <span class="text nav-text">Cerrar Sesion</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class="bx bx-moon icon moon"></i>
                            <i class="bx bx-sun icon sun"></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>
            </div>
        </nav>
    </body>
    <script src="{% static 'js/sidebar.js' %}"></script>
</html>
