{% extends "main.html" %} {% load static %} {% block title %} Diccionario fusi {% endblock title %}
{% block content %}
<div class="container text-center" style="margin-left: 300px">
    <h1>Diccionario fusi</h1>
    <a href="{% url 'create_fusi' %}"><button>Agregar Fusi</button></a>
    <br />
    <form id="searchForm" class="form" action="{% url 'dic_fusi' %}" method="get">
        <div class="form__field">
            <label for="formInput#search">Buscar Codigo Fusi </label>
            <input
                class="input input--text"
                id="formInput#search"
                type="text"
                name="search_query"
                value="{{ search_query }}"
                placeholder="Ingrese : Codigo, Componente, Descripcion, Tipo ECU"
            />
        </div>

        <input class="btn btn--sub btn--lg" type="submit" value="Buscar" />
    </form>

    <table>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Clase</th>
            <th></th>
        </tr>
        {% for i in fusi %}
        <tr>
            <td>{{ i.fusi_code }}</td>
            <td>{{ i.fusi_description }}</td>
            <td>{{ i.message_class }}</td>
            <td>
                {% if user.username == 'usuario_link' %}
                <button type="button" class="btn btn-outline-success" disabled>Editar</button>
                {% else %}
                <a href="{% url 'update_fusi' i.id %}">
                    <button type="button" class="btn btn-outline-success" disabled>
                        Editar
                    </button></a
                >
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <!--paginador-->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if fusi.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{fusi.previous_page_number}}">Anterior</a>
            </li>
            {% endif %} {% for page in paginator.page_range %} {% if page == fusi.number %}
            <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %} {% endfor %} {% if fusi.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{fusi.next_page_number}}">Siguiente</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!--fin paginador-->
</div>

{% endblock content %}
