{% extends 'main.html' %} {% load static %} {% block header %}Staff {% endblock header %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/profiles.css' %}" />
<div style="height: 100vh" class="container text-center">
    <div class="row" style="height: 100vh" >
        {% for i in workers %}
        <div class="col-lg-4">
            <div class="card mb-3" style="max-width: 600px">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="object-fit:cover; "src="{{i.profile_image.url}}" class="img-fluid rounded-start serie" alt="profileimage" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title name">{{i.name}}</h5>
                            <p class="card-text">
                                <div class="data">
                                    <div>{{i.short_intro}}</div>
                                    <div>{{i.phone}}</div>
                                    <div>{{i.email}}</div>

                                </div>
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary"> ultima conexion<br/>{{i.user.last_login}} </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
