{% extends 'main.html' %} {% load static %} {% block header %}Staff {% endblock header %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/profiles.css' %}" />
<div class="container-fluid">
    <!--divisor de codigo-->
    <div class="row">
        {% for i in workers %}
        <div class="col-4">
            <div style="margin-top: 30px" class="card">
                <div class="row g-0">
                    <div class="col-3">
                        <img
                            style="object-fit: cover"
                            src="{{i.profile_image.url}}"
                            class="img-fluid rounded-start serie"
                            alt="profileimage"
                        />
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <br />
                            <div class="card-text">
                                <div class="content-container">
                                    <div class="name">Area:</div>
                                    <div class="name">Correo</div>
                                    <div class="name">Telefono:</div>
                                </div>
                                <div class="content-container">
                                    <div class="item">{{i.short_intro}}</div>
                                    <div class="item">{{i.email}}</div>
                                    <div class="item">{{i.phone}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
