{% load static %}

<link rel="stylesheet" href="../static/css/footer.css" />
<link
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
    type="text/css"
/>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Nosotros.</h6>
                <p class="text-justify">
                    Alicanto es un sistema de telemetria operando sobre buses
                    electricos fabricados por Reborn Electric Motors. en el cual
                    se puede visualizar en tiempo real el estado de los buses,
                    asi como tambien la ubicacion de estos, medidas de cada uno
                    de sus componentes
                </p>
            </div>
        </div>
        <hr />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2017 All Rights Reserved
                    <a href="https://rebornelectric.cl" target="_blank"
                        >Reborn Electric Motors</a
                    >.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li>
                        <a class="facebook" href="#"
                            ><i class="fa fa-facebook"></i
                        ></a>
                    </li>
                    <li>
                        <a class="twitter" href="#"
                            ><i class="fa fa-twitter"></i
                        ></a>
                    </li>
                    <li>
                        <a class="dribbble" href="#"
                            ><i class="fa fa-dribbble"></i
                        ></a>
                    </li>
                    <li>
                        <a class="linkedin" href="#"
                            ><i class="fa fa-linkedin"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
