<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Alicanto Login</title>
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="../static/css/login.css" />
    </head>
    <body>
        <div class="login">
            <h2 class="active">Iniciar sesion</h2>
            <form>
                <input type="text" class="text" name="username" />
                <span>Usuario</span>

                <br />

                <br />

                <input type="password" class="text" name="password" />
                <span>contraseña</span>
                <br />

                <button class="signin">Ingresar</button>

                <hr />

                <p class="trademark">Reborn Electric Motors</p>
                <br />
                <p class="trademark2">Alicanto Telemetría Reborn</p>
            </form>
        </div>
    </body>
</html>
