<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

        <style>
            .toast-container {
                position: fixed;
                top: 10px;
                right: 10px;
                z-index: 9999;
            }
        </style>

        <title>{% block title %}Alicanto Telemetria{% endblock title %}</title>
    </head>
    <body>
        {% if messages %}
        <div class="toast-container" aria-live="polite" aria-atomic="true">
            {% for message in messages %}
            <div
                class="toast align-items-center text-white bg-dark"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                id="toast{{ forloop.counter }}"
            >
                <div class="d-flex">
                    <div class="toast-body">{{ message }}</div>
                    <button
                        type="button"
                        class="btn-close me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                    ></button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div
                        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sidebar"
                    >
                        <a
                            href="{% url 'dashboard' %}"
                            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                        >
                            <span class="fs-5 d-none d-sm-inline">
                                <div class="d-flex justify-content-center align-items-center" style="width: 100%">
                                    <img alt="logoReborn" src="{% static "img/logo/reblogo.png" %}" style="width:180px;
                                    margin-left:30px">
                                </div>
                                <hr class="hr" />
                            </span>
                        </a>
                        <ul
                            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                            id="menu"
                        >
                            <li class="nav-item">
                                <a href="{% url 'dashboard' %}" class="nav-link align-middle px-0">
                                    <i class="bx bx-home-alt-2 icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'reports_page' %}" class="nav-link px-0 align-middle">
                                    <i class="bx bx-pie-chart-alt-2 icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Reportes</span></a
                                >
                            </li>
                            <li>
                                <a href="{% url 'warnings' %}" class="nav-link px-0 align-middle">
                                    <i class="bx bx-error-circle icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Alertas</span></a
                                >
                            </li>
                            <li>
                                <a href="{% url 'bus_list' %}" class="nav-link px-0 align-middle">
                                    <i class="bx bx-bus icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Flota</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'dic_fusi' %}" class="nav-link px-0 align-middle">
                                    <i class="bx bx-book icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Diccionario Fusi</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 align-middle">
                                    <i class="bx bx-time icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Prog. Buses</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'work_order_form' %}" class="nav-link px-0 align-middle">
                                    <i class="bx bx-edit-alt icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Crear Parte</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'disponibilidad-flota' %}" class="nav-link px-0 align-middle">
                                    <i class="bx bx-calendar-check icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Informe Disponibilidad</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'profile' %}" class="nav-link px-0 align-middle">
                                    <i class="bx bx-user-pin icon"></i>
                                    <span class="ms-1 d-none d-sm-inline">Staff</span>
                                </a>
                            </li>
                        </ul>
                        <hr />
                        <div class="dropdown pb-4">
                            <a
                                href="#"
                                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                id="dropdownUser1"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="https://github.com/mdo.png"
                                    alt="hugenerd"
                                    width="30"
                                    height="30"
                                    class="rounded-circle"
                                />
                                <span class="d-none d-sm-inline mx-1">{{user.profile.name}}</span>
                            </a>
                            <ul
                                class="dropdown-menu dropdown-menu-dark text-small shadow"
                                aria-labelledby="dropdownUser1"
                            >
                                <li><a class="dropdown-item" href="">Pelfil</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}">Cerrar Sesion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col py-3">
                    <h1 class="header">{% block header %}{% endblock header %}</h1>
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const toasts = document.querySelectorAll(".toast");
                toasts.forEach((toast) => {
                    const toastInstance = new bootstrap.Toast(toast);
                    toastInstance.show();
                });
            });
        </script>
    </body>
</html>
