{% load static %}
<link rel="stylesheet" href="../static/styles/navbar.css" />
<link
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
    type="text/css"
/>
<link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href='{% static "styles/navbar.css" %}'
        />
<div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
        <div class="nav-title">Alicanto</div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="{% url "bus_list" %}">Flota</a>
        <a href="{% url "dic_fusi" %}">Diccionario Fusi</a>
        <a href="{% url "odometer" %}">Kilometrajes</a>
        <a href="" target="_blank">GPS Link</a>
        <a href="https://rebornelectric.cl" target="_blank">Web Reborn</a>
    </div>
</div>
