{% load static %}
<link rel="stylesheet" href="../static/styles/navbar.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen" href='{% static "styles/navbar.css" %}' />
<div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
        <div class="nav-title">Alicanto</div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        {% if user.is_authenticated %}
        <a href="{% url 'bus_list' %}">Flota</a>
        <a href="{% url 'dic_fusi' %}">Diccionario Fusi</a>
        <a href="" target="_blank">GPS Link</a>
        <a href="{% url 'work_order_form' %}">Crear Parte</a>
        <a href="{% url 'logout_user' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>
