{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href='{% static "styles/side-bar.css" %}' />
<script src="https://kit.fontawesome.com/0632ec8479.js" crossorigin="anonymous"></script>
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <div class="logocontainer">
            <div class="logo"><img src="{% static "img/REM.png" %}" alt="Alicanto"></div>
            <div class="logotext"></div>
        </div>
        <div class="menuitems">
            <div class="menuitem">
                <i class="fa-solid fa-house fa-sm" style="color: #ebebeb"></i>
                <a href="{% url 'dashboard' %}" style="color: #ebebeb">Dashboard</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-chart-simple fa-sm" style="color: #ebebeb"></i>
                <a href="{% url 'reports_page' %}" style="color: #ebebeb">Reportes</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-bus fa-sm" style="color: #ebebeb"></i>
                <a href="{% url 'bus_list' %}" style="color: #ebebeb">Flota</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-book fa-sm" style="color: #ebebeb"></i>
                <a href="{% url 'dic_fusi' %}" style="color: #ebebeb">Diccionario Fusi</a>
            </div>
            <div class="menuitem">
                <i class="fa-solid fa-pen-to-square fa-sm" style="color: #ebebeb"></i>
                <a href="{% url 'work_order_form' %}" style="color: #ebebeb">Crear Parte</a>
            </div>
        </div>
    </div>
</div>
