.box .chart {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 160px;
    height: 160px;
    color: #666363;
}

.box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
}

h5 {
    font-size: 15px;
    font-weight: 400;
}

.custom-card {
    background-color: #ededed;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.twin {
    margin-top: 20px;
}
.custom-text {
    color: #0f8bfd;
}
.option-button {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-bottom: 20px;
}

td {
    font-size: 12px;
}
.table {
    --bs-table-bg: transparent;
}

.image-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-icon i {
    font-size: 50px;
    color: #0f8bfd;
}

.custom-header {
    color: #0f8bfd;
    font-size: 18px;
}

.page-link {
    background: transparent;
    --bs-pagination-active-bg: #0f8bfd;
    --bs-pagination-active-border-color: #0f8bfd;
}
.leaf {
    color: #7ada00;
    font-size: 50px;
    text-align: center;
    align-content: center;
}

.bar {
    background-color: #ededed;
}
