.input-group {
    width: 500px;
}
.page-link {
    background: transparent;
    --bs-pagination-active-bg: #686868;
    --bs-pagination-active-border-color: #686868;
    --bs-pagination-color: #686868;
}
.navpag {
    margin-top: 70px;
}
