.texticon {
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
    font-weight: 450;
}

.icon {
    font-size: 30px;
}

.timestamp {
    font-size: 15px;
    max-width: 180px;
    display: flex;
    text-align: center;
}
