/* Estilos para la tarjeta */
.icon-card {
    max-width: 60px;
    max-height: 60px;
    background-color: #0f8bfd;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative; /* Agrega posición relativa para que funcione el centrado vertical */
    top: 50%; /* Mueve el círculo hacia abajo un 50% de la altura de su contenedor */
    transform: translateY(-50%); /* Vuelve a subir el círculo un 50% de su propia altura */
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    background-color: #ededed;
}
.icon-alert {
    color: #fff;
    font-size: 30px;
}
.card-title {
    border-bottom: 1px solid #c3c3cc;
    padding-bottom: 5px;
}
.card-text {
    font-size: 22px;
    font-weight: 500;
    color: #0f8bfd;
}

.indicator {
    color: #686868;
    margin-left: 30px;
    font-weight: 700;
    font-size: 1.8rem;
}

/* Dashboard */

.texticon {
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
    font-weight: 400;
}

.card-header {
    --bs-card-cap-color: #0f8bfd;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    display: flex;
}

.table {
    --bs-table-bg: transparent;
}
.busname {
    font-weight: 500;
    font-size: 18px;
}

td .fusi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.timestamp {
    font-size: 15px;
    font-weight: 400;
}

td .volt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.ok {
    color: #2c9b42;
    font-size: 2rem;
}
.notok {
    color: rgb(213, 35, 35);
    font-size: 2rem;
}

.charging {
    color: yellowgreen;
    font-size: 1.6rem;
}

.battok span {
    color: black;
    font-size: 1rem;
}

.battmed span {
    color: #f0a500;
    font-size: 1rem;
}

.batlow span {
    color: #d52525;
    font-size: 1rem;
}

.charge-container {
    position: relative;
}

.charging {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navpag {
    margin-top: 30px;
}
.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.button-pro {
    --bs-btn-border-radius: 50px;
}
.profile {
    font-size: 20px;
}
.page-link {
    background: transparent;
    --bs-pagination-active-bg: #0f8bfd;
    --bs-pagination-active-border-color: #0f8bfd;
}
