:root {
    --bs-table-bg: red; /* Color de fondo para la tabla */
}

.texticon {
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
    font-weight: 450;
}

.icon {
    font-size: 30px;
}

.timestamp {
    font-size: 15px;
    max-width: 180px;
    display: flex;
    text-align: center;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ededed;
}

.table {
    --bs-table-bg: transparent;
}
