/* Estilos para la tarjeta */
.icon-card {
   max-width: 60px;
   max-height: 60px;
   border: 4px solid #0f8bfd;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   position: relative; /* Agrega posición relativa para que funcione el centrado vertical */
   top: 50%; /* Mueve el círculo hacia abajo un 50% de la altura de su contenedor */
   transform: translateY(-50%); /* Vuelve a subir el círculo un 50% de su propia altura */
}

.soc-ok {
   border: 2px solid #686868;
   font-size: 12px;
   height: 28px; /* Valor fijo para la altura */
   width: 50px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   position: relative;
   top: 50%;
   transform: translateY(-5%);
}
.soc-med {
   border: 2px solid #eabb00;
   font-size: 12px;
   height: 28px; /* Valor fijo para la altura */
   width: 50px; /* Valor fijo para el ancho */
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   position: relative;
   top: 50%;
   transform: translateY(-5%);
}
.soc-no {
   width: 50px;
   border: 2px solid #d80000;
   font-size: 12px;
   height: 28px; /* Valor fijo para la altura */
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   position: relative;
   top: 50%;
   transform: translateY(-5%);
}

.card {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: none;
   background-color: #ededed;
}
.icon-alert {
   color: #0f8bfd;
   font-size: 30px;
}
.card-title {
   border-bottom: 1px solid #c3c3cc;
   padding-bottom: 5px;
   color: #686868;
}
.card-text {
   font-size: 22px;
   font-weight: 500;
   color: #0f8bfd;
}

.indicator {
   color: #686868;
   margin-left: 30px;
   font-weight: 700;
   font-size: 1.8rem;
}

/* Dashboard */

.texticon {
   color: #686868;
   display: inline-block;
   vertical-align: middle;
   margin-left: -20px;
   font-weight: 400;
}

.card-header {
   --bs-card-cap-color: #0f8bfd;
   font-weight: 600;
   font-size: 20px;
   padding: 10px;
   display: flex;
}

.table {
   --bs-table-bg: transparent;
}
tr .busname {
   font-weight: 500;
   font-size: 18px;
   color: #686868;
}

tr .odometer {
   color: #686868;
}

td .fusi {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   color: #686868;
}

.timestamp {
   font-size: 15px;
   font-weight: 400;
   color: #686868;
}

td .volt {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   color: #686868;
}
.ok {
   color: #686868;
   font-size: 2.2rem;
}

.rotate-y {
   animation: rotateY 2s linear infinite;
   color: #7ada00;
   font-size: 1.6rem;
}

@keyframes rotateY {
   0% {
      transform: rotateY(0deg);
   }
   100% {
      transform: rotateY(360deg);
   }
}

.charging {
   color: #2c9b42;
   font-size: 1.6rem;
}

.battok span {
   color: #686868;
   font-size: 1rem;
}

.battmed span {
   color: #f0a500;
   font-size: 1rem;
}

.batlow span {
   color: #d52525;
   font-size: 1rem;
}

.charge-container {
   position: relative;
}

.charging {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.navpag {
   margin-top: 20px;
}
.container-button {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 27px;
}
.button-pro {
   --bs-btn-border-radius: 50px;
}
.profile {
   font-size: 20px;
}
.page-link {
   background: transparent;
   --bs-pagination-active-bg: #686868;
   --bs-pagination-active-border-color: #686868;
   --bs-pagination-color: #686868;
}
.bar {
   background-color: #ededed;
}
tr td .vehicle {
   text-transform: capitalize;
   color: #686868;
}
