.texticon {
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: -20px;
    font-weight: 450;
}

.icon {
    font-size: 30px;
}

.timestamp {
    font-size: 15px;
    max-width: 180px;
    display: flex;
    text-align: center;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ededed;
}

.table {
    --bs-table-bg: transparent;
}
.busname {
    font-weight: 500;
    font-size: 18px;
}
td .fusi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(213, 35, 35);
}
.ok {
    color: #2c9b42;
    font-size: 2rem;
}
.notok {
    color: rgb(213, 35, 35);
    font-size: 2rem;
}

.charging {
    color: #2c9b42;
    font-size: 2rem;
}
.notcharging {
    color: rgb(214, 220, 40);
    font-size: 2rem;
}
.battok {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.battok i {
    color: #2c9b42;
    font-size: 1.5rem;
}
.battok span {
    color: #0b0b0b;
    font-size: 1rem;
}
.battmed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.battmed i {
    color: #f0a500;
    font-size: 1.5rem;
}
.battmed span {
    color: #0b0b0b;
    font-size: 1rem;
}

.batlow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.batlow i {
    color: #d52525;
    font-size: 1.5rem;
}
.batlow span {
    color: #0b0b0b;
    font-size: 1rem;
}
