.card-header {
    --bs-card-cap-color: #0f8bfd;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    display: flex;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    background-color: #ededed;
}
.icon-card {
    max-width: 60px;
    max-height: 60px;
    border: 4px solid #0f8bfd;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative; /* Agrega posición relativa para que funcione el centrado vertical */
    top: 50%; /* Mueve el círculo hacia abajo un 50% de la altura de su contenedor */
    transform: translateY(-50%); /* Vuelve a subir el círculo un 50% de su propia altura */
}

.card-title {
    margin-bottom: 0; /* Eliminar el margen inferior */
    color: #0f8bfd;
    font-size: 1.6rem;
    border-bottom: 1px solid #c3c3cc;
}
.card-text {
    margin-top: 10px;
    font-size: 18spx;
    font-weight: 300;
    color: #686868;
}
.icon-alert {
    color: #0f8bfd;
    font-size: 30px;
}
