.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ededed;
}
.card-header {
    --bs-card-cap-color: #0f8bfd;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    display: flex;
}

.table {
    --bs-table-bg: transparent;
}

.page-link {
    background: transparent;
    --bs-pagination-active-bg: #0f8bfd;
    --bs-pagination-active-border-color: #0f8bfd;
}
.navpag {
    margin-top: 30px;
}

.icon-card {
    max-width: 60px;
    max-height: 60px;
    border: 4px solid #0f8bfd;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative; /* Agrega posición relativa para que funcione el centrado vertical */
    top: 50%; /* Mueve el círculo hacia abajo un 50% de la altura de su contenedor */
    transform: translateY(-50%); /* Vuelve a subir el círculo un 50% de su propia altura */
}

.icon-alert {
    color: #0f8bfd;
    font-size: 30px;
}

.card-title {
    border-bottom: 1px solid #c3c3cc;
    padding-bottom: 5px;
    color: #686868;
}
.card-text {
    font-size: 22px;
    font-weight: 500;
    color: #0f8bfd;
}

table .table-text-color {
    color: #686868 !important;
}

@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.rotate-y {
    animation: rotateY 2s linear infinite;
    font-size: 1.6rem;
}
