{% extends "main.html" %} {% load static %}{% block page %}
<h1 style="color: #0f8bfd; font-weight: 700; font-size: 30px">Perfil Bus {{ bus.bus_name}}</h1>
{% endblock page %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/bus-profile.css' %}" />
<link rel="stylesheet" href="{% static 'js/bus-profile-js.js' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<style>
    .filter-controls {
        display: flex;
        margin-left: 10px;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }
    .input-group {
        flex: 1; /* Permite que el input ocupe todo el espacio disponible, si es necesario */
    }

    .btn {
        line-height: 1.5; /* Ajusta la altura de línea para una mejor alineación */
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="option-button">
                {% if user.username == 'hurbx' or user.username == 'jose-troncoso' or user.username == 'Luis-Perez' %}
                <a href="{% url 'update_bus' bus.id %}"
                    ><button type="button" class="btn btn-primary"><i class="bx bx-edit-alt"></i> Editar Bus</button></a
                >
                <a href="{% url 'work_order_form' %}">
                    <button type="button" class="btn btn-outline-info">
                        <i class="bx bx-plus-medical"></i> Crear Parte
                    </button></a
                >

                <a href="{% url 'delete_bus' bus.id %}">
                    <button type="button" class="btn btn-outline-danger"><i class="bx bx-trash"></i></button
                ></a>

                {% else %}
                <a href="{% url 'no-access' %}"> <button type="button" class="btn btn-primary">Editar Bus</button></a>

                <a href="{% url 'work_order_form' %}">
                    <button type="button" class="btn btn-outline-info">Crear Parte</button></a
                >
                <a href="{% url 'no-access' %}"
                    ><button type="button" class="btn btn-outline-danger"><i class="bx bx-trash"></i></button
                ></a>

                {% endif %}
            </div>
        </div>
        <!--inicio tarjeta bus principal-->
        <div class="col-sm-12 col-lg-5">
            <div class="card custom-card">
                <img src="{{bus.bus_img.url}}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <div class="card-text">
                        <div class="col-12">
                            <div style="box-shadow: none" class="card custom-card">
                                <div class="card-body">
                                    <h5 class="card-title">Datos del Bus</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">
                                        <span style="color: #0f8bfd">Actualizacion : {{bus.lts_update}}</span>
                                    </h6>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div class="icon-card">
                                                            <i class="bx bx-chip icon-alert"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">ECU</h5>
                                                            <p class="card-text">{{bus.bus_ecu}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div class="icon-card">
                                                            <i class="bx bx-broadcast icon-alert"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Sniffer</h5>
                                                            <p class="card-text">{{bus.sniffer}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div class="icon-card">
                                                            <i class="bx bx-barcode icon-alert"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Patente</h5>
                                                            <p class="card-text">{{bus.plate_number}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div class="icon-card">
                                                            <i class="bx bx-bus icon-alert"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Serie</h5>
                                                            <p class="card-text">{{bus.bus_series}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div class="icon-card">
                                                            <i class="bx bx-cog icon-alert"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Tipo</h5>
                                                            <p class="card-text">{{bus.bus_type}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div class="icon-card">
                                                            <i class="bx bx-user-pin icon-alert"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Cliente</h5>
                                                            <p class="card-text">{{bus.client}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fin tarjeta bus principal-->
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cargando</h5>
                    {% if bus.charging == 1 %}
                    <div class="big-icon"><i class="bx bxs-ev-station"></i></div>
                    {% else %}
                    <div style="color: #686868" class="big-icon"><i class="bx bxs-ev-station"></i></div>
                    {% endif %}
                </div>
            </div>
            <div style="margin-top: 20px" class="card">
                <div class="card-body">
                    <h5 class="card-title">Bateria Actual</h5>
                    <div class="card-text">
                        <div class="box text-center">
                            <div class="chart" data-percent="{{ bus.lts_soc }}" data-scale-color="#ffb400">
                                {{ bus.lts_soc }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px" class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="icon-card">
                            <i class="bx bx-qr-scan icon-alert"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Jarvis</h5>
                            <p class="card-text">V {{bus.jarvis}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px" class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="icon-card">
                            <i class="bx bx-qr-scan icon-alert"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Vision</h5>
                            <p class="card-text">V {{bus.vision}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px" class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="icon-card">
                            <i class="bx bx-error icon-alert"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Ultimo Fusi: {{bus.lts_fusi}}</h5>
                            <p class="card-text">{{bus.lts_update|date:"d-m-Y H:m"}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Llave Contacto</h5>
                    {% if bus.key_state == 1 %}
                    <div class="big-icon"><i class="bx bx-power-off"></i></div>
                    {% else %}
                    <div style="color: #686868" class="big-icon"><i class="bx bx-power-off"></i></div>
                    {% endif %}
                </div>
            </div>
            <div style="margin-top: 20px" class="card">
                <div class="card-body">
                    <h5 class="card-title">SOH</h5>

                    <div class="card-text">
                        <div class="box">
                            <div class="chart" data-percent="{{ soh.battery_health_value }}" data-scale-color="#ffb400">
                                <!--{{soh.battery_health_value }}%-->wip
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px" class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="icon-card">
                            <i class="bx bxs-zap icon-alert"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Aislacion</h5>
                            <p class="card-text">{{bus.lts_isolation}} Ω</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px" class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="icon-card">
                            <i class="bx bx-qr-scan icon-alert"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Mark</h5>
                            <p class="card-text">V {{bus.mark}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px" class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="icon-card">
                            <i class="bx bxs-car-battery icon-alert"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Bateria 24 Volts</h5>
                            <p class="card-text">{{bus.lts_24_volt}} V.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="row">
                    <div class="col-4 leaf">
                        <i class="bx bxs-leaf"></i>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title"><strong>CO2 Evitado</strong></h5>
                            <p class="card-text">{{co2}} toneladas CO2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px" class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <div class="icon-card">
                            <i class="bx bx-tachometer icon-alert"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Kilometraje Bus</h5>
                            <p class="card-text">{{bus.lts_odometer}} Km</p>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px" class="card">
                <h5 style="color: #686868" class="card-header">Recorrido buses</h5>
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th style="color: #686868; font-size: 18px">Mes</th>
                                <th style="color: #686868; font-size: 18px">Inicial</th>
                                <th style="color: #686868; font-size: 18px">Final</th>
                                <th style="color: #686868; font-size: 18px">Recorrido</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for data in result_data %}
                            <tr>
                                <td style="color: #686868; font-size: 15px">{{ data.month }}</td>
                                <td style="color: #686868; font-size: 15px">{{ data.value1 }}</td>
                                <td style="color: #686868; font-size: 15px">{{ data.value2 }}</td>
                                <td style="color: #686868; font-size: 15px">{{ data.difference }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px" class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="card mb-3 custom-card">
                <div class="row g-0">
                    <div class="col-md-4 image-icon">
                        <a href="{% url 'bus_dailykm_pdf_report' bus.id %}">
                            <i class="bx bxs-down-arrow-square"></i>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Kilometraje Diario</h5>
                            <p class="card-text">descargar informe km diario</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-sm-12 col-lg-4">
            <div class="card mb-3 custom-card">
                <div class="row g-0">
                    <div class="col-md-4 image-icon">
                        <a href="{% url 'bus_historic_fusi_pdf_report' bus.id %}"
                            ><i class="bx bxs-down-arrow-square"></i
                        ></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fusi historico</h5>
                            <p class="card-text">descargar informe fusi historico</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-4">
            <div class="card mb-3 custom-card">
                <div class="row g-0">
                    <div class="col-md-4 image-icon">
                        <a href="{% url 'recorrido_mensual_pdf' bus.id %}"> <i class="bx bxs-down-arrow-square"></i></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Recorrido Mensual</h5>
                            <p class="card-text">descargar informe recorrido</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-5" style="margin-top: 50px">
            <div class="card custom-card">
                <h5 class="card-header custom-header">Grafico Fusi Mes Actual</h5>
                <div class="card-body">
                    <div class="col-12">
                        <canvas id="myPieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-6" style="margin-top: 50px">
            <div class="card custom-card">
                <h5 class="card-header custom-header">Aislacion Bus</h5>
                <div class="card-body">
                    <div class="col-12">
                        <div style="height: 300px; width: 100%">
                            <canvas id="lineChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-12" style="margin-top: 50px">
        <div class="card custom-card">
            <h5 class="card-header custom-header">Kilometraje maximo diario</h5>
            <div class="card-body">
                <div class="col-12">
                    <div class="table-responsive overflow-y-scroll" style="max-height: 400px">
                        <table class="table table-sticky">
                            <thead class="table sticky-top bar">
                                <tr>
                                    <th>Dia</th>
                                    <th>Enero</th>
                                    <th>Febrero</th>
                                    <th>Marzo</th>
                                    <th>Abril</th>
                                    <th>Mayo</th>
                                    <th>Junio</th>
                                    <th>Julio</th>
                                    <th>Agosto</th>
                                    <th>Septiembre</th>
                                    <th>Octubre</th>
                                    <th>Noviembre</th>
                                    <th>Diciembre</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for i in results %}
                                <tr>
                                    <td>{% if i.0 is None %} 0 {% else %}{{i.0}}{% endif %}</td>
                                    <td>{% if i.1 is None %} 0 {% else %}{{i.1}} {% endif %}</td>
                                    <td>{% if i.2 is None %} 0 {% else %}{{i.2}} {% endif %}</td>
                                    <td>{% if i.3 is None %} 0 {% else %}{{i.3}} {% endif %}</td>
                                    <td>{% if i.4 is None %} 0 {% else %}{{i.4}} {% endif %}</td>
                                    <td>{% if i.5 is None %} 0 {% else %}{{i.5}} {% endif %}</td>
                                    <td>{% if i.6 is None %} 0 {% else %}{{i.6}} {% endif %}</td>
                                    <td>{% if i.7 is None %} 0 {% else %}{{i.7}} {% endif %}</td>
                                    <td>{% if i.8 is None %} 0 {% else %}{{i.8}} {% endif %}</td>
                                    <td>{% if i.9 is None %} 0 {% else %}{{i.9}} {% endif %}</td>
                                    <td>{% if i.10 is None %} 0 {% else %}{{i.10}} {% endif %}</td>
                                    <td>{% if i.11 is None %} 0 {% else %}{{i.11}} {% endif %}</td>
                                    <td>{% if i.12 is None %} 0 {% else %}{{i.12}} {% endif %}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-9" style="margin-top: 50px">
            <div class="card custom-card">
                <h5 class="card-header custom-header">Bitacora de Carga</h5>
                <div class="card-body">
                    <div class="col-12">
                        <div class="table-responsive overflow-y-scroll" style="max-height: 420px">
                            <table class="table table-sticky">
                                <thead class="table sticky-top bar">
                                    <tr>
                                        <th>Ciclo</th>
                                        <th>Inicio</th>
                                        <th>Termino</th>
                                        <th>Tiempo</th>
                                        <th>Soc Inicial</th>
                                        <th>Soc Final</th>
                                        <th>Carga</th>
                                        <th>Energia</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <!-- Aquí se insertarán los datos dinámicamente -->
                                    {% for i in datos_tabla %}
                                    <tr class="table-row" data-soc-final="{{ i.soc_final }}">
                                        <td>{{ i.rango }}</td>
                                        <td>{{ i.fecha_inicio }}</td>
                                        <td>{{ i.fecha_termino }}</td>
                                        <td>{{ i.tiempo }} hrs</td>
                                        <td>{{ i.soc_inicial }}%</td>
                                        <td>{{ i.soc_final }}%</td>
                                        <td>{{ i.carga }}%</td>
                                        <td>
                                            {% if i.carga < 0 %}
                                            <p style="color: red">{{ i.energia }} kwh</p>
                                            {% else %} {{ i.energia }} kwh {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="filter-controls">
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">SOC Final</span>
                        <input type="text" class="form-control" id="filterInput" aria-label="Filtro SOC Final" />
                    </div>
                    <button
                        style="margin-top: -13px"
                        type="button"
                        class="btn btn-primary me-2 btn-sm"
                        id="filterButton"
                    >
                        Buscar
                    </button>
                </div>
            </div>
        </div>

        <div style="margin-top: 50px" class="col-3">
            <div class="card custom-card">
                <h5 class="card-header custom-header">Energia Cargada</h5>
                <div class="card-body">
                    <div class="col-12">
                        <div class="table-responsive overflow-y-scroll" style="max-height: 400px">
                            <table class="table sticky">
                                <thead class="table sticky-top bar">
                                    <tr>
                                        <th>Mes</th>
                                        <th>Energia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in monthly_totals %}
                                    <tr>
                                        <td>{{i.month}}</td>
                                        <td>{{i.energy}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    Total Energia: {{acu}} kwh
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="margin-top: 50px">
            <div class="card custom-card">
                <h5 class="card-header custom-header">Voltajes Celdas</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive overflow-y-scroll" style="max-height: 400px">
                                <table class="table">
                                    <thead class="table sticky">
                                        <tr class="table sticky-top bar">
                                            <th>Fecha</th>
                                            <th>Voltaje Max</th>
                                            <th>Voltaje Min</th>
                                            <th>Avg Voltaje</th>
                                            <th>Δ Max/Avg</th>
                                            <th>Δ Min/Avg</th>
                                            <th>Δ Min/Max</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in cells_voltage %}
                                        <tr>
                                            <td>{{i.TimeStamp}}</td>
                                            <td>{{i.max_v}} V</td>
                                            <td>{{i.min_v}} V</td>
                                            <td>{{i.avg}} V</td>
                                            <td>{{i.diff_max_avg}} V</td>
                                            <td>{{i.diff_min_avg}} V</td>
                                            <td>{{i.diff_min_max}} V</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="margin-top: 50px">
            <div class="card custom-card">
                <h5 class="card-header custom-header">Bitacora Fusi Bus</h5>
                <div class="card-body">
                    <div class="col-12">
                        <div class="table-responsive overflow-y-scroll" style="max-height: 400px">
                            <table class="table">
                                <thead class="table sticky">
                                    <tr class="table sticky-top bar">
                                        <th>Codigo Fusi</th>
                                        <th>Descripcion</th>
                                        <th>Kilometraje</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in fusi %}
                                    <tr>
                                        <td>{{i.fusi_code}}</td>
                                        <td>
                                            {% for mesa in message %} {% if mesa.fusi_code == i.fusi_code %}
                                            {{mesa.fusi_description|truncatechars:30 }} {% endif %} {% endfor %}
                                        </td>
                                        <td>{{i.failure_odometer}}</td>
                                        <td>{{i.TimeStamp|date:"d-m-Y H:m:s"}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% if fusi.has_other_pages %}
                        <nav class="navpag" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if fusi.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{fusi.previous_page_number}}">Anterior</a>
                                </li>
                                {% endif %} {% for page in paginator.page_range %} {% if page == fusi.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                                {% endif %} {% endfor %} {% if fusi.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{fusi.next_page_number}}">Siguiente</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--divisor-->
</div>
<script src="{% static 'js/bus-profile-js.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtén los datos de tu vista Django
        const data = {{ fusi_pie | safe }};
        console.log(data);
        const labels = data.map((item) => item.fusi_code);
        const values = data.map((item) => item.total);

        // Configura el pie chart
        const ctx = document.getElementById("myPieChart").getContext("2d");
        const myPieChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Total",
                        data: values,
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.7)",
                            "rgba(54, 162, 235, 0.7)",
                            "rgba(255, 206, 86, 0.7)",
                            "rgba(75, 192, 192, 0.7)",
                            "rgba(153, 102, 255, 0.7)",
                            "rgba(255, 159, 64, 0.7)",
                            "rgba(255, 99, 132, 0.7)",
                            "rgba(54, 162, 235, 0.7)",
                            "rgba(255, 206, 86, 0.7)",
                            "rgba(75, 192, 192, 0.7)",
                            "rgba(153, 102, 255, 0.7)",
                            "rgba(255, 159, 64, 0.7)",
                        ],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            },
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtiene los datos del backend (suponiendo que 'data' contiene tus datos)
        const data = {{ isolation | safe }};

        // Prepara las etiquetas (eje X) y los valores (eje Y)
        const labels = data.map((item, index) => index);
        const values = data.map(item => item.isolation_value);

        // Configura el gráfico de líneas
        const ctx = document.getElementById('lineChart').getContext('2d');
        const lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Valores de Aislamiento',
                    data: values,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.4,  // Controla la suavidad de la línea
                    fill: false,   // No rellena el área bajo la línea
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Índice',
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Valor de Aislamiento',
                        }
                    }
                }
            }
        });
    });
</script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        // Obtén los datos de tu vista Django
        const data = {{ max_voltage_list | safe }};
        const data2 = {{ min_voltage_list | safe }};

        // Crea los arrays de labels y values solo con los primeros 20 elementos

        const values = data.map((item) => item.max_voltage);

        const values2 = data2.map((item) => item.min_voltage);

        // Configura el pie chart
        const ctx = document.getElementById("voltages").getContext("2d");
        const myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'co2 evitado',
                    data: values,
                    fill: true,
                    borderColor: "rgba(111, 117, 223, 0.4)",
                    pointBackgroundColor: "rgba(111, 117, 223, 1)", // Color de los puntos con opacidad total
                    tension: 0.3
                },{
                    label: "co2 generado",
                    data: values2,
                    fill: true,
                    borderColor: "rgba(33, 136, 229, 0.4)",
                    pointBackgroundColor: "rgba(33, 136, 229, 1)", // Color de los puntos con opacidad total
                    tension: 0.3

                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#filterButton").on("click", function () {
            var filterValue = $("#filterInput").val().trim();

            // Convertir el valor del input a un número
            var filterNumber = parseFloat(filterValue);

            $("#tableBody tr").each(function () {
                var socFinal = parseFloat($(this).data("soc-final").toString());

                // Mostrar la fila si el valor de soc-final es igual o superior al valor ingresado
                if (isNaN(filterNumber) || socFinal >= filterNumber) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

{% endblock content %}
