{% extends "main.html" %} {% load static %} {% block content %}
<br />
<br />
<br />
<br />

<h1 style="margin-left: 300px; margin-bottom: 40px">Ingresar nuevo bus a la flota</h1>

<div class="container" style="max-width: 700px">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Nombre Bus</label>
            <input type="text" class="form-control" name="bus_name" value="{{bus.bus_name}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Sniffer</label>
            <input type="text" class="form-control" name="sniffer" value="{{bus.sniffer}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Patente</label>
            <input type="text" class="form-control" name="plate_number" value="{{bus.plate_number}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Serie Bus</label>
            <select
                class="form-select"
                style="margin-bottom: 20px"
                name="bus_series"
                aria-invalid="true"
                id="id_bus_series"
            >
                <option selected>{{bus.bus_series}}</option>
                <option value="Queltehue">Queltehue</option>
                <option value="Tricahue">Tricahue</option>
                <option value="Retrofit">Retrofit</option>
                <option value="Retrofit">Queltehue-Q2</option>
                <option value="Retrofit">Prueba</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Cliente</label>
            <input type="text" class="form-control" name="client" value="{{bus.client}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Vision</label>
            <input type="text" class="form-control" name="vision" value="{{bus.vision}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Mark</label>
            <input type="text" class="form-control" name="mark" value="{{bus.mark}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Jarvis</label>
            <input type="text" class="form-control" name="jarvis" value="{{bus.jarvis}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Imagen Bus</label>
            {{form.bus_img}}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>

{% endblock %}
