{% extends "main.html" %}{% load static %}{% block page %}
<h1 class="page">Flota E-Buses</h1>
{% endblock page %} {% block content %}

<link rel="stylesheet" href="{% static 'styles/bus-list.css' %}" />

<div class="container-fluid">
    <div class="row">
        <div class="col-4 justify-content-start">
            {% if user.username == 'hurbx' or user.username == 'jose-troncoso' or user.username == 'Luis-Perez' %}
            <a href="{% url 'create_bus' %}" class="btn btn-primary me-2"> <i class="bx bx-plus"></i> Nuevo </a>
            {% else %}
            <a href="{% url 'no-access' %}" class="btn btn-primary me-2"> <i class="bx bx-plus"></i> Nuevo </a>
            {% endif %}

            <a href="{% url 'bus_list_view' %}" class="btn btn-primary"> <i class="bx bx-list-ul"></i> Lista </a>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-end">
            <form action="{% url 'bus_list' %}" method="get" id="formulario" class="d-flex align-items-center">
                <div class="input-group me-2">
                    <input type="text" class="form-control col-12" name="search_query" value="{{ search_query }}" />
                </div>
                <button type="submit" value="Buscar" class="btn btn-primary me-2">Buscar</button>
            </form>
        </div>
    </div>
</div>

<!--divisor de codigo-->

<div class="container-fluid">
    <div style="margin-top: 20px" class="row">
        {% for bus in bus %}
        <div class="col-4">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img class="bus-img" src="{{ bus.bus_img.url }}" alt="bus image" />
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Bus {{bus.bus_name}}</h5>
                            <div class="card-text">
                                <div class="content-container">
                                    <div class="name">Patente:</div>
                                    <div class="name">Sniffer:</div>
                                    <div class="name">Kilometraje:</div>
                                    <div class="name">Cliente:</div>
                                    <div class="name">Tipo</div>
                                    <div class="name">Actualizacion:</div>
                                </div>
                                <div class="content-container">
                                    <div class="item">{{bus.plate_number}}</div>
                                    <div class="item">{{bus.sniffer}}</div>
                                    <div class="item">{{bus.lts_odometer}}</div>
                                    <div class="item">{{bus.client}}</div>
                                    <div class="item">{{bus.bus_type}}</div>
                                    <div class="item">{{bus.lts_update|date:'d/m/Y'}}</div>
                                </div>
                            </div>
                            <a class="button-link" href="{% url 'bus_detail' bus.id %}">
                                <p class="card-text">
                                    <button type="button" class="btn btn-primary">Ver mas</button>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if bus.has_other_pages %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav class="navpag" aria-label="Page navigation example">
                <ul class="pagination">
                    {% if bus.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{bus.previous_page_number}}">Anterior</a>
                    </li>
                    {% endif %} {% for page in paginator.page_range %} {% if page == bus.number %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                    {% endif %} {% endfor %} {% if bus.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{bus.next_page_number}}">Siguiente</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    {% endif %}
    <div style="height: 100vh"></div>

    <!---divisor de codigo   -->

    <!--buscador de buses-->

    <!--lista buses-->

    {% endblock content %}
</div>
