{% extends "main.html" %}{% load static %}{% block header %}Flota E-Buses{% endblock header %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/bus-list.css' %}" />

<div class="container-fluid">
    <div class="row">
        <!-- Botones Nuevo y Lista al principio -->
        <div class="col-md-4 d-flex align-items-center justify-content-start">
            {% if user.username == 'hurbx' or user.username == 'jose-troncoso' or user.username == 'Luis-Perez' %}
            <a href="{% url 'create_bus' %}" class="btn btn-primary me-2"> <i class="bx bx-plus"></i> Nuevo </a>
            {% else %}
            <a href="{% url 'no-access' %}" class="btn btn-primary me-2"> <i class="bx bx-plus"></i> Nuevo </a>
            {% endif %}

            <a href="{% url 'bus_list' %}" class="btn btn-primary"> <i class="bx bx-id-card"></i> Tarjetas </a>
        </div>

        <!-- Formulario al final -->
        <div class="col-md-8 d-flex align-items-center justify-content-end">
            <form action="{% url 'bus_list' %}" method="get" id="formulario" class="d-flex align-items-center">
                <div class="input-group me-2">
                    <input type="text" class="form-control col-12" name="search_query" value="{{ search_query }}" />
                </div>
                <button type="submit" value="Buscar" class="btn btn-primary me-2">Buscar</button>
            </form>
        </div>
    </div>
</div>

<!--divisor codigo-->

<!--lista buses-->
<div class="container-fluid text-center" style="height: 100vh; margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Flota Buses</h5>
            <div class="card-body">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bus</th>
                                <th>Sniffer</th>
                                <th>Patente</th>
                                <th>Serie</th>
                                <th>Cliente</th>
                                <th>v. Mark</th>
                                <th>V. Jarvis</th>
                                <th>V. Vision</th>
                                <th>Ultima Actualizacion</th>
                                <th>Ecu</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for i in bus %}
                            <tr>
                                <td class="busname">{{i.bus_name}}</td>

                                <td>{{ i.sniffer }}</td>

                                <td>{{i.plate_number}}</td>

                                <td>{{i.bus_series}}</td>

                                <td>{{i.client}}</td>

                                <td>{{i.mark}}</td>
                                <!--Fin timestamp-->
                                <!--Inicio cargando-->
                                <td>{{i.jarvis}}</td>
                                <!--Fin cargando-->
                                <!--Inicio perfil-->
                                <td>{{i.vision}}</td>
                                <!--Fin perfil-->
                                <td>{{i.lts_update}}</td>
                                <td>{{i.bus_ecu}}</td>

                                <td>
                                    <a href="{% url 'bus_detail' i.id %}">
                                        <button type="button" class="btn btn-outline-info button-pro">
                                            <div class="container-button">
                                                Perfil <i class="bx bx-right-arrow-circle profile"></i>
                                            </div>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if bus.has_other_pages %}
                    <nav class="navpag" aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if bus.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{bus.previous_page_number}}">Anterior</a>
                            </li>
                            {% endif %} {% for page in paginator.page_range %} {% if page == bus.number %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{page}}">{{page}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{page}}">{{page}}</a>
                            </li>
                            {% endif %} {% endfor %} {% if bus.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{bus.next_page_number}}">Siguiente</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
